{% extends "base.html" %}

{% block content %}
<h1>
    Вы действительно ходите удалить фото?
</h1>
 <form method="POST" action="{% url 'delete-form' photo.id%}">
    {{ form.as_p }}
    <input type="submit" value="Удалить">
    <a href="{% url 'index' %}">Отмена</a>
</form>
{% endblock %}