{% extends "base.html" %}
{% block content %}
{% if 'gallery.add_photo' in perms %}
<form>
    <button formaction="/add">Добавить</button>
</form>
{% endif %}
<table align="center">
      {# Цикл по строкам. #}
      {% for row in rows %}
      <tr>
        {% for cell in row %}
        <td>
          <img width="200px" src="{{ cell.url }}">
          <br/>
          {{ cell.comment }}
            <br>
            <form>
                {% if 'gallery.delete_photo' in perms %}
                <button formaction="/delete/{{ cell.id }}">Удалить</button>
                {% endif %}
                {% if 'gallery.change_photo' in perms %}
                <button formaction="/edit/{{ cell.id }}">Изменить</button>
                {% endif %}
            </form>
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
</table>
{% endblock %}
