{% extends "base.html" %}
{% block content %}
<table align="center">
    {# Цикл по строкам. #}
    {% for photo in photos %}
    <tr>
      <td>
        <img width="200px" src="{{ photo.url }}">
        <br/>
        {{ photo.comment }}
      </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
